<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWS-Settings</title>

<style>
.submit {text-align: center;}
</style>

</head>

<body>    
    <form action="" method="post">
        <dir>
            <label for="region">Region</label>
            <input type="text" name="aws-region">
	    </dir>
	<!--<dir>
    	<label for="type">EC2 Instance type</label>
        <input type="text" name="ec2-type">
	</dir>
	-->
    <br><br>
	<dir class="submit">
	    <input type="submit" value="Next">
	</dir>
    </form>
    
</body>
</html>