<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
	
<style>
.submit {text-align: center;}
</style>
</head>
<body>   
    <form action="" method="post">
    <p>
	    <label for="text">Username</label>
	    <input type="text" name="username">
	</p>
	<p>
	    <label for="text">Access key ID</label>
	    <input type="text" name="access_key">
	</p>
	<p>
	    <label for="text">Secret access key</label>
	    <input type="password" name="secret_key">
	</p>
	<p>
	    <input type="submit" value="Login">
	</p>
    </form>
    
</body>
</html>