{% extends 'base.html' %}

{% block body %}


  <table style="border-collapse: collapse; empty-cells: show; width: 100%;">
    <form action="" method="post">
      <div class="style_77">
        <label for="text">Username</label>
        <input type="text" name="username">
      </div>
      <div class="style_77">
        <label for="text">Password</label>
        <input id="userPassword" type="password" name="password">
      </div>
      <div class="style_77">
        <label for="text">Confirm password</label>
        <input id="userPassword" type="password" name="password">
      </div>
      <div>
        <input type="checkbox" name="admin">
        <label for="admin">Security Administrator</label><br><br>
      </div>
    	<div>
    	  <input type="submit" name="registration" value="Create account">
    	</div>
    </form>
  </table>

{% endblock %}
