<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Waiting</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/cube_animation.css') }}" />
</head>
<body>
  <div id="loadertl">
  <div id="shadow"></div>
  <div id="box"></div>
</div>
<body>
  <div id="loadertr">
  <div id="shadow"></div>
  <div id="box"></div>
</div>
<body>
  <div id="loaderbl">
  <div id="shadow"></div>
  <div id="box"></div>
</div>
<body>
  <div id="loaderbr">
  <div id="shadow"></div>
  <div id="box"></div>
</div>

<textarea id="logging" rows="50" cols="100"></textarea>

<input type="submit" id="download_report" value="Download">

<h4>Test</h4>
</body>
</html>
